.hero{
    background: linear-gradient(256.7deg,#1f3c6a 0,#1bb4b7 100%);
    overflow-x: hidden;
    padding-bottom: 96px;
}

.hero .top{
    margin: auto;
    margin-bottom: 136px;
    width: 1200px;
    max-width: 100%;
    position: relative;
}

.hero .top .text-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero .top .text-container .hero-text{
    margin-top: 94px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .top .text-container .hero-text .deal{
    margin-left: 8px;
    margin-right: 8px;
    max-width: 568px;
    font-size: 1.375rem;
    line-height: 1.45;
    letter-spacing: -.5px;
    color: white;
    text-align: center;
    
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 32px;
}

.hero .top .text-container .hero-text .title{
    font-size: 88px;
    line-height: 1.09;
    letter-spacing: -2.5px;
    margin-bottom: 24px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1100px){
    .hero .top .text-container .hero-text .title {
        font-size: 56px;
    }
}

.hero .top .phone-image{
    top: -64px;
    left: calc(50% + 32px);
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
    width: 740px;
    height: 649px;
    aspect-ratio: auto 740 / 649;
}

@media (min-width: 768px) and (max-width: 1100px){
    .hero .top .phone-image {
        width: 670px;
        height: 578px;
        left: calc(50% - 120px);
    }
}

@media (max-width: 767px){
    .hero .top{
        margin-bottom: 64px;
    }

    .hero .top .phone-image {
        position: static;
        width: 100%;
        margin: 0;
        height: unset;
        margin-top: -1rem;
    }
    .hero .top .text-container {
        grid-template-columns: 1fr;
    }
    .hero .top .text-container .hero-text {
        margin-top: 40px;
    }
    .hero .top .text-container .hero-text .deal {
        margin-bottom: 8px;
        font-size: 16px;
    }
    .hero .top .text-container .hero-text .btn-light{
        display: block;
        width: 100%;
    }
    
}

.hero .about{
    margin-bottom: 96px;
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hero .about .infographic-grid{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
}

.hero .about .btn-transparent{
    margin: auto;
    margin-top: 40px;
}

.hero .plans{
    width: 1200px;
    margin: auto;
    max-width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.hero .plans .details .title{
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -1px;
    color: white;
    margin-bottom: 32px;
}

.hero .plans .details .plan-detail-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 0 16px;
}

@media (max-width: 1023px){
    .hero .plans .details .plan-detail-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@media (max-width: 767px){
    .hero .plans {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }
        
    .hero .plans .details .title{
        text-align: center;
    }

}

.hero .plans .details .plan-detail-grid .detail{
    display: flex;
    align-items: center;
} 

.hero .plans .details .plan-detail-grid .icon-container{
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.015)),to(rgba(255,255,255,.1)));
    background: linear-gradient(180deg,rgba(255,255,255,.015) 0,rgba(255,255,255,.1) 100%);
    -webkit-box-shadow: inset 0 0 0 2px rgb(255 255 255 / 5%);
    box-shadow: inset 0 0 0 2px rgb(255 255 255 / 5%);
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 68px;
    height: 68px;
    margin-right: 24px;
}

.hero .plans .details .plan-detail-grid .icon-container .icon{
    display: block;
    max-width: 100%;
    height: auto;
    width: 44px;
}

.hero .plans .details .plan-detail-grid .detail{
    color: white;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -.2px;
}

.hero .plans .details .plan-detail-grid .detail .text{
    color: white;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -.2px;
}

.hero .quote-slider{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 96px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero .quote-slider .highlighted-text{
    padding: 8px 24px;
    margin-bottom: 72px;
}

.hero .quote-slider .quote{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: -2px;
    color: white;
    margin-bottom: 72px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

@media (max-width: 767px){
    .hero .quote-slider .quote{
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -1px;
    }
}

.hero .quote-slider .slider-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hero .quote-slider .slider-controls .arrow-btn{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px;
    height: auto;
    background: transparent;
}

.hero .quote-slider .slider-controls .arrow-btn .arrow-svg{
    width: 24px;
    height: 24px;
}

.hero .quote-slider .slider-controls .arrow-btn .arrow-svg.left{
    transform: rotateZ(90deg);
}

.hero .quote-slider .slider-controls .arrow-btn .arrow-svg{
    transform: rotateZ(-90deg);
}

.hero .quote-slider .slider-controls .arrow-btn .arrow-svg path{
    fill: white;
}

.hero .quote-slider .logo-container{
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 16px 24px rgb(34 46 58 / 25%);
    box-shadow: 0 16px 24px rgb(34 46 58 / 25%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 168px;
    height: 88px;
    padding: 1rem;
}

.hero .quote-slider .logo-container .logo{
    display: block;
    margin: auto;
    display: none;
    display: block;
    max-width: 100%;
    height: auto;
}