.navbar{
    height: var(--navbar-height);
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 16px;
    padding-right: 12px;
}

.navbar .content .logo-container{
    height: 32px;
    margin-right: 24px;
}

.navbar .content .logo-container img{
    width: 137px;
}

.navbar .content .links{
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar .content .links .link{
    font-weight: 450;
    font-size: 12px;
    /* line-height: 133%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: .5px;
    /* color: #222e3a; */
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    cursor: pointer;
    background: none;
    border: none;
    margin-right: 16px;
}

.navbar .content .links .link span{
    letter-spacing: .5px;
}

.navbar .content .links .link a,
.navbar .content .links .link span,
.navbar .content .links .link svg path{
    list-style: none;
    text-decoration: none;
    color: var(--clr-blue-dark);
    transition: all ease 300ms;
}

.navbar .content .user{
    display: flex;
    align-items: center;
}

.navbar .content .user button{
    /* width: 32px;
    height: 32px; */
    cursor: pointer;
    border: none;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.navbar .content .user button span{
    font-size: 12px;
    font-weight: 450;
    letter-spacing: .5px;
    vertical-align: middle;
}

.navbar .content .user button span,
.navbar .content .user button.search:hover svg path{
    transition: all ease .3s;
}


.navbar .content .user button.search{
    margin-right: 16px;
}

.navbar .content .user button.change-lang{
    margin-right: 8px;
}

.navbar .content .user button.search .search-icon{
    margin-right: 4px;
}

.navbar .content .user button.search span{
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}

.navbar .content .user button.change-lang .lang-icon{
    margin-right: 4px;
}

.navbar .content .user button.change-lang .caret-icon{
    margin-left: 4px;
}

.navbar .content .user .login{
    padding: 8px;
    font-size: 12px;
    margin-right: 16px;
    text-decoration: none;
    color: var(--clr-blue-dark);
    font-weight: 450;
    line-height: 133%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: ease all .3s;
    transition: all ease 300ms;
}

.navbar .content .user .login:hover,
.navbar .content .user .login:hover svg path{
    color: var(--clr-blue-2);
    fill: var(--clr-blue-2);
}

.navbar .content .user .get-surfshark{
    margin-right: 8px;
    letter-spacing: normal;
}

.navbar .content .user button.search:hover span,
.navbar .content .user button.search:hover svg path,
.navbar .content .links .link a:hover,
.navbar .content .links .link:hover span,
.navbar .content .links .link:hover svg path
{
    fill: var(--clr-blue-2);
    color: var(--clr-blue-2);
}

@media (max-width: 1199px){
    .navbar .content .user .search,
    .navbar .content .user .change-lang{
        margin: 0 !important;
        width: 32px;
        height: 32px;
    }

    .navbar .content .user .search span,
    .navbar .content .user .change-lang span,
    .navbar .content .user .change-lang .caret-icon
    {
        display: none;
    }
}

@media (max-width: 1023px){
    .navbar .content .user .login span{
        display: none;
    }
}

@media (min-width: 1024px){
    .navbar .content .user .login .user-icon{
        display: none;
    }
}

@media (min-width: 992px){
    .navbar .content .user button.hamburger{
        display: none;
    }
}

@media (max-width: 767px){
    .navbar .content .get-surfshark{
        display: none;
    }
}

@media (max-width: 991px){
    .navbar .content .links{
        display: none;
    }
}