.navbar{
    height: var(--navbar-height);
    background-color: var(--clr-blue);
    background: rgba(30,70,112,.01);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100vw;
}

.navbar .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 16px;
}