.surfsharkone{
    padding-top: 96px;
    background-color: white;
}

.surfsharkone .title{
    font-size: 88px;
    line-height: 1.09;
    letter-spacing: -2.5px;
    text-align: center;
    margin-bottom: 72px;
}

.surfsharkone .home-one-img{
    overflow-clip-margin: content-box;
    overflow: clip;
    aspect-ratio: auto 3200 / 1782;
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 72px;
}

.surfsharkone .c2a{
    margin: 0 auto;
    margin-bottom: 96px;
    width: 1200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surfsharkone .c2a .heading{
    padding: 1rem;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    font-size: 56px;
    line-height: 1.18;
    letter-spacing: -2px;
}

.surfsharkone .c2a .content{
    padding: 1rem;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    text-align: center;
}

.surfsharkone .c2a .content .text{
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 1.46;
    letter-spacing: -.5px;
    color: rgba(34,46,58,.75);
}

.surfsharkone .one-vpn{
    position: relative;
    padding-bottom: 318px;
}

@media (max-width: 767px){
    .surfsharkone .one-vpn{
        padding-bottom: 32px;
    }
    .surfsharkone .one-vpn .content{
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
  }

.surfsharkone .one-vpn .content{
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1rem;
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.surfsharkone .one-vpn .content .vpn-logo{
    margin-bottom: 32px;
    display: block;
    max-width: 100%;
    height: auto;
}

.surfsharkone .one-vpn .content .text{
    font-size: 56px;
    line-height: 1.18;
    letter-spacing: -2px;
    max-width: 380px;
    margin-bottom: 32px;
}

.surfsharkone .one-vpn .content .text .emphasised-text{
    display: block;
}

.surfsharkone .vpn-img{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 72%;
}

@media (max-width: 767px){
    .surfsharkone .vpn-img{
        display: none;
    }
    .surfsharkone .title{
        font-size: 4rem;
    }
  }

.surfsharkone .antivirus{
    position: relative;
    color: #fff;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    align-items: center;
}

.surfsharkone .antivirus img,
.surfsharkone .antivirus .content{
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
}

.surfsharkone .antivirus img{
    padding-left: 0;
}

@media (max-width: 767px){
    .surfsharkone .antivirus{
        display: grid;
        grid-template-columns: 1fr;
    }
    .surfsharkone .antivirus img{
        display: none;
    }
    .surfsharkone .antivirus .content{
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        max-width: unset;
    }
  }

.surfsharkone .antivirus .content .antivirus-logo{
    margin-bottom: 32px;
    display: block;
    max-width: 100%;
    height: auto;
}

.surfsharkone .antivirus .content .text{
    margin-bottom: 32px;
    font-size: 3.5rem;
    line-height: 1.18;
    letter-spacing: -2px;
    max-width: 568px;
    color: white;
    font-weight: 600;
}

.surfsharkone .antivirus .content .text .emphasised-text{
    display: block;
}

.surfsharkone .search{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.surfsharkone .search .content{
    padding: 1rem;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
}

.surfsharkone .search .content .logo{
    margin: auto;
    margin-bottom: 32px;
    display: block;
    max-width: 100%;
    height: auto;
}

.surfsharkone .search .content .heading{
    font-size: 56px;
    line-height: 1.18;
    letter-spacing: -2px;
    max-width: 380px;
    margin-bottom: 32px;
    max-width: 568px;
    text-align: center;
}

.surfsharkone .search .content .heading .emphasised-text{
    display: block;
}

@media (max-width: 767px){
    .surfsharkone .search img{
        display: none;
    }
  }

.surfsharkone .one-alert{
    position: relative;
}

.surfsharkone .one-alert .content{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.surfsharkone .one-alert .content .wrapper{
    text-align: left;
    padding-top: 104px;
    padding-bottom: 321px;
    display: flex;
}

.surfsharkone .one-alert .content .flex{
    padding: 1rem;
    flex-basis: 50%;
    max-width: 50%;
}

.surfsharkone .one-alert .content .wrapper .logo{
    margin-bottom: 32px;
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px){
    .surfsharkone .one-alert .content .wrapper{
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 32px 0 0;
    }
    .surfsharkone .one-alert img{
        display: none;
    }
    .surfsharkone .one-alert .content .flex{
        max-width: unset;
    }
    
    .surfsharkone .one-alert .content .wrapper .logo{
        margin: auto;
        margin-bottom: 32px;
        display: block;
        max-width: fit-content;
    }

    .surfsharkone .one-alert .content .wrapper .link{
        margin: auto;
        max-width: fit-content;
    }
  }

.surfsharkone .one-alert .content .wrapper .heading{
    margin-bottom: 32px;
    font-size: 3.5rem;
    line-height: 1.18;
    letter-spacing: -2px;
    color: white;
}

.surfsharkone .one-alert .content .wrapper .heading .emphasised-text{
   display: block;
}

.surfsharkone .one-alert .alert-img{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 62%;
}

.surfsharkone .one-plan-c2a{
    padding-bottom: 96px;
    padding-top: 96px;
}

.surfsharkone .one-plan-c2a .content{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

.surfsharkone .one-plan-c2a .content .benefits{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-basis: 50%;
    max-width: 50%;
}

.surfsharkone .one-plan-c2a .content .benefits .heading{
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -1px;
    color: white;
    font-weight: 600;
}

.surfsharkone .one-plan-c2a .content .benefits .benefits-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.surfsharkone .one-plan-c2a .content .benefits .benefits-grid .benefit{
    display: flex;
    flex-direction: column;
}

.surfsharkone .one-plan-c2a .content .benefits .benefits-grid .benefit .head{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.surfsharkone .one-plan-c2a .content .benefits .benefits-grid .benefit .head .icon-container{
    width: 68px;
    height: 68px;
    margin-right: 24px;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.015)),to(rgba(255,255,255,.1)));
    background: linear-gradient(180deg,rgba(255,255,255,.015) 0,rgba(255,255,255,.1) 100%);
    -webkit-box-shadow: inset 0 0 0 2px rgb(255 255 255 / 5%);
    box-shadow: inset 0 0 0 2px rgb(255 255 255 / 5%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.surfsharkone .one-plan-c2a .content .benefits .benefits-grid .benefit .head .icon{
    display: block;
    max-width: 100%;
    height: auto;
}

.surfsharkone .one-plan-c2a .content .benefits .benefits-grid .benefit .head .benefit-heading{
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: -1px;
    color: white;
    font-weight: 600;
}

.surfsharkone .one-plan-c2a .content .benefits .benefits-grid .benefit .benefit-item{
    display: flex;
    align-items: center;
}


.surfsharkone .one-plan-c2a .content .benefits .benefits-grid .benefit .benefit-item .tick-icon{
    margin-right: 16px;
}

.surfsharkone .one-plan-c2a .content .benefits .benefits-grid .benefit .benefit-item:not(:last-child){
    margin-bottom: 19px;
}

.surfsharkone .one-plan-c2a .info-card{
    margin: auto;
}

@media (max-width: 1023px){
    .surfsharkone .one-plan-c2a .content .benefits .benefits-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@media (max-width: 767px){
    .surfsharkone .one-plan-c2a .content {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .surfsharkone .one-plan-c2a .content .benefits{
        width: 100%;
        max-width: unset;
    }
        
    .surfsharkone .one-plan-c2a .content .benefits .benefits-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
    }

    .surfsharkone .one-plan-c2a .content .benefits .benefits-grid .benefit {
        align-items: center;
    }

}